* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
  font-size: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23e11515' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

a {
  color: whitesmoke;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */

header {
  /* padding: 10px; */
  margin: auto;
}


.container {
  margin: auto;
}

/* NAVIGATION */
.nav-main {
  background-color: black;
  font-size: 17px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 60px;
}

.nav-logo {
  width: 200px;
}

/* NAV LEFT */

.nav-main ul {
  padding: 5px;
  display: flex;
}

.nav-main ul li {
  font-family: 'Roboto Slab', serif;
  padding: 10px;
}


/* MAIN */

main {
  padding: 10px;
  font-family: 'Roboto Slab', serif;
}


.main-container {
  
  color: black;
  background-color: gray;
  margin: auto;
}

.div-main {
  display: flex;
}



.div-main li {
  background-color: brown;
  display: flex;
  /* text-align: center; */
  border: black solid;
}

.div-main li a {
  text-align: center;
}

.div-main img {
  width: 50px;
}


/* FOOTER */

footer {
  
  margin: auto;
}

.footer-container {
  background-color: black;
  padding: 10px;
}

.footer-main {
  text-align: center;
  
}

.footer-main ul li{
  display: inline;
}

.footer-main img {
  width: 20px;
}

.footer-main p {
  font-family: 'Roboto Slab', serif;
  color: whitesmoke;
  font-size: 12px;
}

