html {
  background-color: ddd;
}

h1 {
  color: black;
  text-align: center;
}

figure {
  width: 200px;
  overflow: hidden;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

ol {
  font-weight: bold;
  color: black;
  font-size: 30px;  
}

ul {
  display: inline-flex;
}

a {
  color: green;
}